<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <header>
      <h1>Sistema de Galpões e Frete</h1>
      <nav>
        <%= link_to 'Início', root_path %>
        <%= link_to 'Fornecedores', suppliers_path %>
      </nav>
    </header>
    <main>
      <% if notice %>
        <div>
          <p><%= notice %></p>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
